* {
    padding: 0;
    margin: 0;
}

body {
    border: 0;
    margin: 0;
    padding: 0;
    background: #2a2a2a;
    color: aliceblue;
}

.logo {
    position: relative;
    left: 7px;
    top: 4px;
}

h3 {
    padding: 20px;
    text-align: center;
    font-size: 20px;
}

.folio {
    color: red;
}

hr {
    border-color: red;
}

hr:hover {
    border-color: blue;
}

.static-bar {
    top: 0%;
    position: fixed;
    background: #2d2d3ab4;
    width: 100%;
    z-index: 10;
}

p {
    padding: 1em;
}


/*
-------------------------mainNav---------------------------
*/

a {
    text-decoration-line: none;
    color: red;
}

a:visited {
    color: rgb(72, 192, 176);
}

.nav {
    z-index: 10;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: right;
    padding: 1em 0;
    position: relative;
}

.nav ul li {
    display: inline-block;
    margin: 0 1em;
    position: relative;
}

.nav ul li::after {
    content: '';
    height: 1px;
    width: 0%;
    background: rgb(255, 0, 0);
    position: absolute;
    left: 0;
    clear: both;
    display: block;
    bottom: -7px;
    transition: all 0.7s ease-in;
    cursor: pointer;
}

.nav ul li:hover::after {
    width: 100%;
}

.nav ul li:last-child {
    margin-right: 50px;
}

.nav-bar-hr {
    border-color: transparent;
}


/*                 
endOfMainNav
*/

.backdrop {
    border-color: blue;
}

.greeting {
    padding-top: 350px;
    padding-left: 10px;
}

#codes {
    color: red;
}

.greeting p {
    font-size: 17px;
    padding: .5px;
}

.name {
    font-size: 40px;
    font-weight: bold;
    text-align: left;
    padding: 5px;
}

#home {
    background-image: url("delane-codes.jpeg");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 460px;
    background-attachment: fixed;
}

#home:hover {
    background-attachment: scroll;
}


/*
about
*/

.about-me-pic {
    background: url('earth.jpg')!important;
    z-index: 1;
    left: 3%;
}

em {
    position: relative;
    top: 80%;
}

.about {
    text-align: center;
}


/*
endOFabout
*/


/*
services
*/

.software-engineering,
.programming,
.cyber-security,
.about-me-pic {
    display: inline-block;
    background: #202022;
    width: 43%;
    height: 200px;
    box-shadow: 0 0 5px blue;
    margin-left: 10px;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 10px;
    word-wrap: inherit;
    z-index: 1;
    padding: 20px;
    margin: 10px 25%;
}

.about-me-pic {
    margin: 3%;
    height: auto;
}

.software-engineering:hover,
.programming:hover,
.cyber-security:hover {
    display: inline-block;
    background: #2b2c3f;
    width: 45%;
    box-shadow: 0 0 5px blue, 0 0 10px blue, 0 0 15px blue;
    transition: 0.7s ease-in-out;
    font-size: 15px;
    color: red;
    cursor: pointer;
    /* flipcard transition*/
    transition: transform 2s;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
    transition: transform 4s;
    transform-style: preserve-3d;
    transform: rotateY(360deg);
}

h4 {
    text-align: center;
}

ul li {
    list-style-type: circle;
    font-size: 12px;
    padding-right: 5px;
    margin-left: 30px;
    margin-top: 2px;
    text-overflow: inherit;
    cursor: pointer;
}


/*
endOfservices
*/


/*
contact
*/

p {
    text-align: center;
}

.contact ul li {
    list-style-type: none;
}

button img {
    width: 2em;
    height: 2em;
    border-radius: 50%;
}

button {
    list-style: none;
}


/*
endOfcontact
*/


/*
footer
*/

.footer-nav ul li {
    display: inline;
}

.footer-nav ul li a {
    text-align: right;
}


/*
endOffooter
*/


/*
ffooter-copyright
*/

footer {
    box-shadow: 0 0 5px red, 0 0 10px white, 0 0 15px blue;
}

.footer-copyright p {
    color: red;
    background: #202022;
    margin: auto;
    text-align: center;
    padding: 30px 0;
}

.footer-copyright a {
    color: aquamarine;
}

.footer-copyright a:hover {
    color: blue;
}
