* {
    padding: 0;
    margin: 0;
}


/* darkmode:{background: #464646;color: white;}; page-divider:{background: rgb(255, 154, 2); */

body {
    background: rgb(255, 255, 255);
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    background: #464646;
    color: white;
}

body::-webkit-scrollbar {
    display: none;
}

.logo {
    width: 65px;
    height: 65px;
}

h3 {
    padding: 20px;
    text-align: center;
    font-size: 20px;
}

hr {
    border-color: red;
}

.static {
    position: fixed;
    width: 100%;
    z-index: 7;
    background: white;
    background: #222224e0;
    box-shadow: 0 0 5px red, 0 0 10px white, 0 0 15px blue;
    background: white;
}

.splendid-head-img {
    position: relative;
    right: 15px;
}


/* Style the navigation menu */

.topnav {
    overflow: hidden;
    position: relative;
    background-color: transparent;
}


/* Hide the links inside the navigation menu (except for logo/home) */

.topnav #myLinks {
    display: none;
}


/* Style navigation menu links */

.topnav a {
    color: rgb(68, 110, 247);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    display: block;
    color: black;
    /*darkmode*/
    color: rgb(212, 16, 212);
}


/* Style the hamburger menu :{ z-index: 10;}*/

.topnav a.icon {
    display: block;
    position: absolute;
    right: 25px;
    top: 35px;
    background-image: url("icons/hamburger-black.png");
    background-position: center;
    background-size: contain;
    padding-left: 12px;
    z-index: 8;
    box-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white;
    /*darkmode*/
    box-shadow: 0 0 5px red, 0 0 10px white, 0 0 15px blue;
}


/* Add a grey background color on mouse-over */

.topnav a:hover {
    background-color: white;
    color: red;
    z-index: 3;
    /*darkmode*/
    background: transparent;
}

.backdrop {
    border-color: red;
    width: 75%;
    margin: auto;
    box-shadow: 0 0 4px black;
}

.bright {
    z-index: 4;
    border-bottom: none;
    box-shadow: 0 0 20px red, 0 0 40px red, 0 0 60px red, 0 0 80px red;
}

.name {
    font-size: 40px;
    font-weight: bold;
    text-align: left;
    padding: 5px;
}

#home {
    background-repeat: no-repeat;
    background-size: 100%;
    height: 490px;
    background-attachment: fixed;
    z-index: 2;
}


/*
about
*/

.about-me-pic {
    z-index: 1;
    left: 3%;
}

em {
    position: relative;
    top: 80%;
}

.about {
    text-align: center;
}

.location-header {
    display: inline-block;
    text-align: center;
    padding-left: 40%;
}

.location {
    margin-left: -5px;
    margin-top: -10px;
}

iframe {
    z-index: 5;
    box-shadow: 0 0 5px rgba(255, 2, 213, 0.979), 0 0 10px rgb(66, 31, 219), 0 0 10px rgba(255, 2, 213, 0.979);
    border: none;
    border-radius: 5px;
    height: 400px;
    margin: 8px;
    cursor: pointer;
}


/*
endOFabout
*/


/*
services
*/

.levels {
    color: red;
    display: inline-block;
    background: #202022;
    background: transparent;
    width: 90%;
    box-shadow: 0 0 2px rgba(255, 2, 213, 0.979), 0 0 4px rgb(66, 31, 219), 0 0 8px rgba(255, 2, 213, 0.979);
    z-index: 1;
    margin: 20px;
    border-radius: 10px;
}

.levels ul li {
    font-size: .8em;
    padding-left: 10px;
}

.levels ul {
    padding-left: 55px;
}

.about-me-pic {
    margin: 3%;
    height: auto;
}

.levels:hover {
    display: inline-block;
    background: transparent;
    width: 91%;
    box-shadow: 0 0 5px rgba(255, 2, 213, 0.979), 0 0 10px rgb(66, 31, 219), 0 0 10px rgba(255, 2, 213, 0.979);
    transition: 0.7s ease-in-out;
    color: black;
    /*darkmode*/
    color: white;
    background: rgba(190, 49, 167, 0.103);
    cursor: pointer;
    /* flipcard transition*/
    transition: transform 2s;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
    transition: transform 4s;
    transform-style: preserve-3d;
    transform: rotateY(360deg);
    z-index: 2;
}

h4 {
    text-align: center;
}

ul li {
    list-style-type: circle;
    font-size: 12px;
    padding-right: 5px;
    margin-left: 30px;
    margin-top: 2px;
    text-overflow: inherit;
    cursor: pointer;
}


/*
endOfservices
*/


/*
contact
*/

p {
    text-align: center;
}

.contact ul li button a {
    display: inline-block;
    margin: 0 1em;
    position: relative;
}

h5 {
    display: inline;
}

.business-hours {
    display: inline;
}


/*
endOfcontact
*/


/*
footer
*/

.footer-nav ul li {
    display: inline;
}

.footer-nav ul li a {
    text-align: right;
}


/*
social-links
*/

.nav-footer {
    text-align: center;
}

.nav-footer ul li {
    display: inline-block;
    margin: 0 1em;
    position: relative;
}

.nav-footer ul li:last-child {
    margin-right: 20px;
}


/*                 
endOfMainNav
*/


/*
social-links
*/

button {
    margin: 15px;
    padding: 5px;
    margin-left: 30px;
    border-radius: 50%;
    background: white;
    border-color: transparent;
    box-shadow: 0 0 5px rgba(255, 2, 213, 0.979), 0 0 10px rgb(66, 31, 219), 0 0 10px rgba(255, 2, 213, 0.979);
}

button:hover {
    transition: 1s;
    box-shadow: 0 0 8px rgba(255, 2, 213, 0.979), 0 0 13px rgb(66, 31, 219), 0 0 13px rgba(255, 2, 213, 0.979);
}

.nav-footer ul li {
    display: inline-block;
    margin: 0 .4em;
    position: relative;
}


/*
endOfocial-links
*/


/*
endOffooter
*/


/*
footer-copyright
*/

footer {
    box-shadow: 0 0 5px red, 0 0 10px white, 0 0 15px blue;
}

.footer-copyright p {
    color: rgba(255, 2, 213, 0.979);
    background: #202022;
    margin: auto;
    text-align: center;
    padding: 30px 0;
    background: #20202056;
}

.footer-copyright a {
    color: rgba(255, 2, 213, 0.63);
    text-transform: none;
    animation: blinker 5s linear infinite;
}

.footer-copyright a:hover {
    color: blue;
    text-decoration-line: none;
}

p {
    padding: 0 20px;
}


/*
#depricated

/*
.static-bar {
    top: 0%;
    position: fixed;
    background: #2d2d3ab4;
    width: 100%;
    z-index: 10;
    box-shadow: 0 0 5px red, 0 0 10px white, 0 0 15px blue;
    background: white;
}
*/


/*Modified*/

.clock {
    margin-top: -5px;
}

footer {
    text-align: center;
    background: rgb(56, 55, 55);
    color: rgb(255, 154, 2);
    /*override*/
    margin-top: 7%;
    padding: 2em;
    font-size: 0.7em;
}


/*EO about page*/


/*
    footer
    */


/*
    social-links
    */

button {
    margin: 15px;
    margin-left: 30px;
    background: white;
    border-radius: 50%;
    border-color: rgb(196, 34, 196);
    box-shadow: 0 0 5px red, 0 0 10px white, 0 0 15px blue;
}

button:hover {
    box-shadow: 0 0 6px rgb(196, 34, 196), 0 0 11px rgb(240, 22, 240), 0 0 16px rgb(196, 34, 196);
}

.nav-footer ul li {
    display: inline-block;
    margin: 0 .4em;
    position: relative;
}


/*
    endOfocial-links
    */


/*
    footer-copyright
    */

footer {
    box-shadow: 0 0 5px red, 0 0 10px white, 0 0 15px blue;
}

.footer-copyright a,
cite {
    color: rgb(255, 154, 2);
    text-transform: none;
    animation: blinker 5s linear infinite;
    font-size: 12px;
}

cite {
    font-size: 16px;
    color: white;
    cursor: pointer;
}

@keyframes blinker {
    50% {
        opacity: 1;
        color: purple;
    }
}

.footer-copyright a:hover {
    color: orangered;
    text-decoration-line: none;
}

.call-icon {
    margin: 10px;
    margin-top: 0;
    z-index: 2;
}

.static {
    background: rgb(56, 55, 55);
}

.reset-paragraph {
    text-align: left;
    margin: 0;
}