/*
whiteTheme{background: white;color: black;}
*/

body {
    background: rgb(255, 255, 255);
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    background: #464646;
    color: white;
}

body::-webkit-scrollbar {
    display: none;
}

.logo {
    position: static;
    margin: 0 30%;
    width: 130px;
    height: 130px;
}

fieldset {
    max-width: 800px;
    border-width: .3px;
    border-radius: 7px;
    background-color: #20202263;
    cursor: pointer;
    border-color: purple;
    margin: auto;
}

.transparent {
    background: transparent;
    border-color: rgba(129, 123, 123, 0.404);
}

legend {
    color: rgb(129, 123, 123);
}

.text-input {
    padding: 0.6rem;
    width: 94%;
    margin: auto;
    height: 8%;
    border: 2px solid rgb(82, 2, 82);
    background: #27253070;
    border-radius: 5px;
    font-size: 18px;
    outline: none;
    transition: all 0.3s;
    color: #fff;
}

.text-input:focus {
    border: 2px solid rgb(182, 4, 182);
}

.dropdown {
    width: 40%;
}

.gender {
    width: 93%;
}

input[type="submit"],
input[type="button"] {
    width: 50%;
    position: relative;
    left: 25%;
    border-color: transparent;
    background: rgb(118, 185, 16);
    color: black;
    box-shadow: 0 0 2px black;
}

input[type="button"] {
    background: rgb(211, 10, 10);
}

input[type="button"]:hover {
    box-shadow: 0 0 5px black;
    background: red;
}

input[type="submit"]:hover {
    box-shadow: 0 0 5px black;
    background: greenyellow;
    color: black;
}

label {
    padding: 5px;
}

textarea {
    resize: vertical;
}