body{
    background: rgb(255, 255, 255);
   
}

.nav-brand{
    color: rgb(255, 102, 0);
    font-weight: bolder;
    font-size: 1.5em;
    margin-bottom: -0.5em;
    margin-top: -1em;
}

.iestech{
    color: rgb(255, 154, 2);/*override*/
}

.iestech:hover{
    color: rgb(251, 255, 0);
    text-decoration: none;
}


.companyName{
    margin-top: 1em;
}



.front-finished{
    width: 99.99%;
    z-index: 0;
    height: 250px;
    margin: 0px auto;
}

/*@media-query max426*/


@media(max-width: 426px){
    .companyName{
        font-size: .5em;
       
        margin-bottom: -0.5em;
        margin-top: 2em;
    }
}/*EO @media(max-width: 426px)*/



/*
-----------------------footerNav------------------------------
*/

.footerNav{
    display: inline;
    text-align: center;
    padding-bottom: 25px;
    
    
    }
    
    .footerNav ul li{
        display: inline;
        text-decoration: none;
        
        
    }
    
    .footerNav ul li a{
        letter-spacing: 1px;
        font-size: 1em;
        padding-bottom: 5px;
        color: rgba(202, 200, 200, 0.781);
    }
    
    .footerNav ul li a:hover{
        text-decoration: underline;
        padding-top: 9px;
        color: rgb(255, 154, 2);/*override*/
        text-decoration: none;
    }
    
    .pad{
        padding: 0 5px;
    }
    
    .footer p{
        display: block;
        margin-top: 2em;
    }
    /*
    -----------------------EndofFooterNav------------------------------
    */

/*
---------------------links--------------------------------------
*/
footer a{
    text-decoration: none;
    color: white;
    font-size: 0.8em;
    font-weight: bold;
    cursor: pointer;
    text-shadow:1.5px 1.5px rgb(0, 0, 0);
    letter-spacing: 1px;
  
}

footer a:hover{
    color: rgb(230, 172, 14);/*override*/
    text-shadow:1px 1px rgb(0, 0, 0);

    font-weight: bold;          /*i want a bold which doesnt affect the layout of the page*/
}

footer li.current a::after{
    color: rgb(255, 154, 2);/*override*/
    text-shadow:1px 1px rgb(0, 0, 0);
    font-weight: bold;
}

.nav ul li::after {
    content: '';
    height: 1px;
    width: 0%;
    color: rgb(255, 154, 2);/*override*/
    position:absolute;
    left: 0;
    clear:both;
	display:block;
    bottom: -7px;
    transition:all 0.7s ease-in;
    cursor: pointer;
}

.nav ul li:hover::after {
    width: 100%;
}

/*about page*/
iframe{
    border:none;
    margin-bottom: 30px;
}

footer{
    text-align: center;
    background: rgb(56, 55, 55);
    color: rgb(255, 154, 2);/*override*/
    margin-top: 7%;
    padding: 2em;
    font-size: 0.7em;
    
}
/*EO about page*/


