body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: rgba(255, 255, 255, 0.973);
  
}

h2,
h1,
h5 {
    color: black;
    font-family: fantasy;
}

form {
    width: 300px;
    padding: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    background: rgba(255, 255, 255, 0.904);
    border-left:none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5), 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

form input[type="text"],
form input[type="password"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid rgb(94, 94, 255);
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: rgb(0, 0, 0);
    border-radius: 24px;
    transition: 0 2px ease;
}

form input[type="password"]:hover,
form input[type="text"]:hover{
    width: 270px;
    transition: ease-out;
    transition-delay: 0.5s;
    transition-duration: 0.5s;
}

form input[type="text"]:focus,
form input[type="password"]:focus {
    width: 270px;
    border-color: rgba(75, 79, 85, 0.795);
    box-shadow: 0 0 5px rgb(94, 94, 255), 0 0 10px rgb(94, 94, 255), 0 0 15px rgb(94, 94, 255);
}

form input[type="submit"] {
    border: 0;
    background: #0bf52f;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: none;
    padding: 14px 10px;
    width: 100px;
    outline: none;
    color: rgb(0, 0, 0);
    border-radius: 24px;
    transition: 0 2px ease;
    cursor: pointer;
    font-size: 15px;
}

form input[type="submit"]:hover {
    width: 220px;
    transition: ease-out;
    transition-delay: 0.5s;
    transition-duration: 0.5s;
    background: #0bf52f;
    box-shadow: 0 0 5px #0bf52f, 0 0 10px #0bf52f, 0 0 15px #0bf52f;
}

form input[type="submit"]:focus {
    width: 270px;
    border-color: rgba(75, 79, 85, 0.795);
}


/*
daily diary style
#f9f941db
*/
.backdrop{
    background: #f9f941db;
    background:#2a2a2a;
    padding:2px;
    margin-bottom:30px;
    z-index:10;
    box-shadow:0 0 4px pink,0 0 7px pink,0 0 10px pink;
    position:relative;
   
    top:0px;
    width:100%;
}

.signout{
    text-decoration:none;
}

a:visited{
    color:grey;
}

h1 {
    text-align: center;
    color:snow;
    text-shadow:0 0 1px snow;
}

.new-note{
    padding-left:20px;
    margin-bottom:-10px;
    margin-top:-10px;
}

button[type="button"] {
    border: 0;
    background: #0bf52f;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: none;
    padding: 14px 10px;
    width: 100px;
    outline: none;
    color: rgb(0, 0, 0);
    border-radius: 24px;
    transition: 0 2px ease;
    cursor: pointer;
    font-size: 15px;
}

button[type="button"]:focus {
    width: 270px;
    border-color: rgba(75, 79, 85, 0.795);
}

button[type="button"]:hover {
    width: 220px;
    transition: ease-out;
    transition-delay: 0.5s;
    transition-duration: 0.5s;
    background: #0bf52f;
    box-shadow: 0 0 5px #0bf52f, 0 0 10px #0bf52f, 0 0 15px #0bf52f;
}

input[type="text"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid rgb(94, 94, 255);
    padding: 14px 10px;
    width: 50%;
    outline: none;
    color: rgb(0, 0, 0);
    border-radius: 24px;
    transition: 0 2px ease;
}

input[type="text"]:focus{
    width: 50%;
    border-color: rgba(75, 79, 85, 0.795);
    box-shadow: 0 0 5px rgb(94, 94, 255), 0 0 10px rgb(94, 94, 255), 0 0 15px rgb(94, 94, 255);
}

input[type="text"],
textarea {
    width: 50%;
    transition: ease-out;
    transition-delay: 0.5s;
    transition-duration: 0.5s;
}

textarea {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid rgb(94, 94, 255);
    padding: 14px 10px;
    outline: none;
    color: rgb(0, 0, 0);
    border-radius: 24px;
    transition: 0 2px ease;
    width: 50%;
}

input[type="text"]:hover,
textarea:hover {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid rgb(94, 94, 255);
    padding: 14px 10px;
    outline: none;
    color: rgb(0, 0, 0);
    border-radius: 24px;
    transition: 0 2px ease;
    width: 50%;
    border-color: rgba(75, 79, 85, 0.795);
    box-shadow: 0 0 5px rgb(94, 94, 255), 0 0 10px rgb(94, 94, 255), 0 0 15px rgb(94, 94, 255);
}

textarea:focus {
    width: 50%;
    border-color: rgba(75, 79, 85, 0.795);
    box-shadow: 0 0 5px rgb(94, 94, 255), 0 0 10px rgb(94, 94, 255), 0 0 15px rgb(94, 94, 255);
}


/*
delete button
*/



#delete-all-btn,.delete-note-btn,
#delete {
    background: red;
}


#delete-all-btn:hover ,.delete-note-btn:hover{
    box-shadow: 0 0 5px red, 0 0 10px red, 0 0 15px red;
}

.note-item h3,.note-item p{
    padding-left:25px ;

}


