body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: rgba(255, 255, 255, 0.973);
}

h2,
h1,
h5 {
    color: black;
    font-family: fantasy;
}

form {
    width: 300px;
    padding: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    background: rgba(255, 255, 255, 0.904);
    border-left: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5), 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

form input[type="text"],
form input[type="password"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid rgb(94, 94, 255);
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: rgb(0, 0, 0);
    border-radius: 24px;
    transition: 0 2px ease;
}

form input[type="password"]:hover,
form input[type="text"]:hover {
    width: 270px;
    transition: ease-out;
    transition-delay: 0.5s;
    transition-duration: 0.5s;
}

form input[type="text"]:focus,
form input[type="password"]:focus {
    width: 270px;
    border-color: rgba(75, 79, 85, 0.795);
    box-shadow: 0 0 5px rgb(94, 94, 255), 0 0 10px rgb(94, 94, 255), 0 0 15px rgb(94, 94, 255);
}

form input[type="submit"] {
    border: 0;
    background: #0bf52f;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: none;
    padding: 14px 10px;
    width: 100px;
    outline: none;
    color: rgb(0, 0, 0);
    border-radius: 24px;
    transition: 0 2px ease;
    cursor: pointer;
    font-size: 15px;
}

form input[type="submit"]:hover {
    width: 220px;
    transition: ease-out;
    transition-delay: 0.5s;
    transition-duration: 0.5s;
    background: #0bf52f;
    box-shadow: 0 0 5px #0bf52f, 0 0 10px #0bf52f, 0 0 15px #0bf52f;
}

form input[type="submit"]:focus {
    width: 270px;
    border-color: rgba(75, 79, 85, 0.795);
}