.class {
    display: block;
    color: #00ff00;
}

.neumophism {
    border-radius: 50px;
    background: #2c2a2a;
    box-shadow: 27px 27px 29px #191818, -27px -27px 29px #3f3c3c;
    border-radius: 50px;
    background: #442c2c;
    box-shadow: 27px 27px 29px #261919, -27px -27px 29px #623f3f;
    border-radius: 15px;
    background: #454545;
    box-shadow: 6px 6px 12px #373737, -6px -6px 12px #535353;
    width: 30%;
    color: wheat;
    text-align: center;
}