body{
    /*        background: rgb(56, 55, 55);*/
--bg-color:#fff;
--text-color:#333;
background: var(--bg-color);
color: var(--text-color);}
.dark{
    --bg-color:rgb(56, 55, 55);/*#333;*/
    --text-color:#fff;}
.toggle{
    display: flex;
    align-items: center;
    color: var(--text-color);position: relative;
    top: -35px;
    margin-bottom: -30px;}
.toggle-button{left: 30%;
    height: 13px;top: 10px;
    width: 40px;
    border-radius: 30px;
    margin-left: 15px;
    border: transparent;
    position: relative;}
.toggle-button::before{
    content: '';
    width: 23px;
    height: 23px;
    background: rgb(167, 163, 163);
    border-radius: 50%;
    position: absolute;
    left: -1px;
    top: -3px;
    cursor: pointer;
    transform: translateX(0);
    transition: transform .2s;}
.dark .toggle-button::before{
transform: translateX(100%);
}