body {
    background: rgb(255, 255, 255);
}

.nav-brand {
    color: rgb(255, 154, 2);
    font-weight: bolder;
    font-size: 1.5em;
    margin-bottom: -0.5em;
    margin-top: -1em;
    padding-bottom: 5px;
}

.companyName {
    margin-top: .9em;
    font-size: .8em;
}

.page-divider {
    background: orangered;
    width: 90%;
}

.static {
    position: fixed;
    width: 100%;
    z-index: 10;
    background: white;
}

#services {
    padding-top: 100px;
}


/* Style the navigation menu */

.topnav {
    overflow: hidden;
    position: relative;
    background-color: rgb(255, 154, 2);
}


/* Hide the links inside the navigation menu (except for logo/home) */

.topnav #myLinks {
    display: none;
}


/* Style navigation menu links */

.topnav a {
    color: rgb(88, 88, 209);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bolder;
    display: block;
}


/* Style the hamburger menu */

.topnav a.icon {
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
    background: rgb(88, 88, 209);
}


/* Add a grey background color on mouse-over */

.topnav a:hover {
    background-color: rgb(88, 88, 209);
    color: rgb(255, 154, 2);
}


/* Style the active link (or home/logo) */

.active {
    background-color: rgb(255, 154, 2);
    color: white;
}

.intro {
    text-align: center;
}


/*
-----------------------footerNav------------------------------
*/

.footerNav {
    display: inline;
    text-align: center;
    padding-bottom: 25px;
}

.footerNav ul li {
    display: inline;
    text-decoration: none;
}

.footerNav ul li a {
    letter-spacing: 1px;
    font-size: 1em;
    padding-bottom: 5px;
    color: rgba(202, 200, 200, 0.781);
}

.footerNav ul li a:hover {
    text-decoration: underline;
    padding-top: 9px;
    color: rgb(255, 154, 2);
    /*override*/
    text-decoration: none;
}

.pad {
    padding: 0 5px;
}

.footer p {
    display: block;
    margin-top: 2em;
}


/*
    -----------------------EndofFooterNav------------------------------
    */


/*
---------------------links--------------------------------------
*/

footer a {
    text-decoration: none;
    color: white;
    font-size: 0.8em;
    font-weight: bold;
    cursor: pointer;
    text-shadow: 1.5px 1.5px rgb(0, 0, 0);
    letter-spacing: 1px;
}

footer a:hover {
    color: rgb(230, 172, 14);
    /*override*/
    text-shadow: 1px 1px rgb(0, 0, 0);
    font-weight: bold;
    /*i want a bold which doesnt affect the layout of the page*/
}

footer li.current a::after {
    color: rgb(255, 154, 2);
    /*override*/
    text-shadow: 1px 1px rgb(0, 0, 0);
    font-weight: bold;
}

.nav ul li::after {
    content: '';
    height: 1px;
    width: 0%;
    color: rgb(255, 154, 2);
    /*override*/
    position: absolute;
    left: 0;
    clear: both;
    display: block;
    bottom: -7px;
    transition: all 0.7s ease-in;
    cursor: pointer;
}

.nav ul li:hover::after {
    width: 100%;
}


/*about page*/

iframe {
    border: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

footer {
    text-align: center;
    background: rgb(56, 55, 55);
    color: rgb(255, 154, 2);
    /*override*/
    margin-top: 7%;
    padding: 2em;
    font-size: 0.7em;
}


/*EO about page*/
