/* darkmode:{background: #464646;color: white;}; page-divider:{background: rgb(255, 154, 2); */

body {
    background: rgb(255, 255, 255);
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

body::-webkit-scrollbar {
    display: none;
}

.siggs-logo {
    margin-top: -10px;
    margin-left: -20px;
}

.nav-brand {
    color: rgb(255, 154, 2);
    font-weight: bolder;
    font-size: 1.4em;
    margin-bottom: -0.5em;
    margin-top: -1em;
    padding-bottom: 5px;
    text-shadow: 0 0 1.5px blue;
    cursor: pointer;
}

.companyName {
    margin-top: .9em;
    font-size: .8em;
    cursor: pointer;
}

.page-divider {
    width: 90%;
    background: orange;
}

.static {
    position: fixed;
    width: 100%;
    z-index: 7;
    background: white;
}

#services {
    padding-top: 25px;
}


/* Style the navigation menu */

.topnav {
    overflow: hidden;
    position: relative;
    background-color: rgb(255, 154, 2);
}


/* Hide the links inside the navigation menu (except for logo/home) */

.topnav #myLinks {
    display: none;
}


/* Style navigation menu links */

.topnav a {
    color: rgb(68, 110, 247);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bolder;
    display: block;
}


/* Style the hamburger menu :{ z-index: 10;}*/

.topnav a.icon {
    display: block;
    position: absolute;
    right: 25px;
    top: 10px;
    background-image: url("icons/hamburger-black.png");
    background-position: center;
    background-size: contain;
    padding-left: 12px;
}


/* Add a grey background color on mouse-over */

.topnav a:hover {
    background-color: rgb(88, 88, 209);
    color: rgb(255, 154, 2);
}

.carousel-inner {
    padding-top: 11px;
    z-index: 5;
    box-shadow: 0 0 20px rgb(255, 154, 2), 0 0 40px white, 0 0 40px rgb(255, 154, 2);
}

.intro {
    text-align: center;
}


/*
    services
    */

.row>.column {
    padding: 0 8px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Create four equal columns that floats next to eachother */

.column {
    display: inline;
}

.column .hover-shadow {
    margin: 0 2px;
}

.scrollmenu .row {
    display: contents;
}


/* The Modal (background) */

.modal {
    display: none;
    position: fixed;
    z-index: 8;
    padding-top: 80px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.438);
    /* IE and Edge */
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin: auto;
}

.modal::-webkit-scrollbar {
    display: none;
}


/* Modal Content */

.modal-content {
    overflow: hidden;
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 96%;
    max-width: 1200px;
}


/* The Close Button */

.close {
    color: red;
    position: relative;
    top: 40px;
    right: 40px;
    font-size: 35px;
    font-weight: bold;
    z-index: 4;
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}


/* Hide the slides by default */

.mySlides {
    display: none;
}


/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}


/* Position the "next button" to the right */

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.151);
    background-color: rgba(241, 153, 21, 0.418);
}


/* Number text (1/3 etc) */

.numbertext {
    color: black;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}


/* Caption text */

.caption-container {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.719);
    padding: 2px 16px;
    color: black;
    color: rgb(255, 154, 2);
}

img.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

img.hover-shadow {
    transition: 0.3s;
    margin: 90px;
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px rgb(255, 154, 2), 0 6px 20px 0 rgb(255, 154, 2);
}


/*
    -----------------------footerNav------------------------------
    */

.footerNav {
    display: inline;
    text-align: center;
    padding-bottom: 25px;
}

.footerNav ul li {
    display: inline;
    text-decoration: none;
}

.footerNav ul li a {
    letter-spacing: 1px;
    font-size: 1em;
    padding-bottom: 5px;
    color: rgba(202, 200, 200, 0.781);
}

.footerNav ul li a:hover {
    text-decoration: underline;
    padding-top: 9px;
    color: rgb(255, 154, 2);
    /*override*/
    text-decoration: none;
}

.pad {
    padding: 0 5px;
}

.footer p {
    display: block;
    margin-top: 2em;
}


/*
    ----------------------EndofFooterNav------------------------------
    */


/*
    ---------------------links--------------------------------------
    */

footer a {
    text-decoration: none;
    color: white;
    font-size: 0.8em;
    font-weight: bold;
    cursor: pointer;
    text-shadow: 1.5px 1.5px rgb(0, 0, 0);
    letter-spacing: 1px;
}

footer a:hover {
    color: rgb(230, 172, 14);
    /*override*/
    text-shadow: 1px 1px rgb(0, 0, 0);
    font-weight: bold;
    /*i want a bold which doesnt affect the layout of the page*/
}

footer li.current a::after {
    color: rgb(255, 154, 2);
    /*override*/
    text-shadow: 1px 1px rgb(0, 0, 0);
    font-weight: bold;
}

.nav ul li::after {
    content: '';
    height: 1px;
    width: 0%;
    color: rgb(255, 154, 2);
    /*override*/
    position: absolute;
    left: 0;
    clear: both;
    display: block;
    bottom: -7px;
    transition: all 0.7s ease-in;
    cursor: pointer;
}

.nav ul li:hover::after {
    width: 100%;
}


/*about page*/

.location-header {
    display: inline-block;
    text-align: center;
    padding-left: 40%;
}

.location {
    margin-left: -5px;
    margin-top: -10px;
}

iframe {
    z-index: 5;
    box-shadow: 0 0 5px rgb(255, 154, 2), 0 0 10px white, 0 0 10px rgb(255, 154, 2);
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

iframe:active {
    cursor: all-scroll;
}

.clock {
    margin-top: -5px;
}

footer {
    text-align: center;
    background: rgb(56, 55, 55);
    color: rgb(255, 154, 2);
    /*override*/
    margin-top: 7%;
    padding: 2em;
    font-size: 0.7em;
}


/*EO about page*/


/*
    footer
    */


/*
    social-links
    */

button {
    margin: 0 12px;
    height: 30px;
    background: white;
    border-radius: 50%;
    border-color: rgb(255, 154, 2);
    box-shadow: 0 0 5px rgb(255, 154, 2), 0 0 10px white, 0 0 15px rgb(255, 154, 2);
}

button:hover {
    box-shadow: 0 0 6px rgb(255, 154, 2), 0 0 12px rgb(255, 154, 2), 0 0 17px rgb(255, 154, 2);
}

.nav-footer ul li {
    display: inline-block;
    margin: 0 .1em;
    position: relative;
}


/*
    endOfocial-links
    */


/*
    footer-copyright
    */

footer {
    box-shadow: 0 0 5px rgb(255, 154, 2), 0 0 10px white, 0 0 15px rgb(255, 154, 2);
}

.footer-copyright a {
    color: rgb(255, 154, 2);
    text-transform: none;
    animation: blinker 5s linear infinite;
    font-size: 12px;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.footer-copyright a:hover {
    color: orangered;
    text-decoration-line: none;
}


/*
    endOfFooter
    */

.center {
    align-items: center;
    text-align: center;
}

.title {
    color: rgb(255, 154, 2);
    text-shadow: 0 0 3px blue;
}

.nav-center ul li button {
    background: white;
    margin: auto;
    margin-left: 20%;
}

progress {
    z-index: 3;
    cursor: pointer;
    height: 10px;
}

.click-image-text {
    padding-top: 10px;
    font-size: 10px;
    text-align: center;
    color: #999;
}

.business-hours {
    display: inline;
}

div.scrollmenu {
    background-color: white;
    background: transparent;
    overflow: auto;
    white-space: nowrap;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

div.scrollmenu::-webkit-scrollbar {
    color: rebeccapurple;
}

div.scrollmenu a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

div.scrollmenu a:hover {
    background-color: white;
}

.call-icon {
    margin: 10px;
    margin-top: 0;
    z-index: 2;
}