/* darkmode:{background: #464646;color: white;}; page-divider:{background: rgb(255, 154, 2); */

body {
    background: rgb(255, 255, 255);
}

.nav-brand {
    color: rgb(255, 154, 2);
    font-weight: bolder;
    font-size: 1.5em;
    margin-bottom: -0.5em;
    margin-top: -1em;
    padding-bottom: 5px;
    text-shadow: 0 0 1.5px blue;
}

.companyName {
    margin-top: .9em;
    font-size: .8em;
}

.page-divider {
    background: orangered;
    width: 90%;
}

.static {
    position: fixed;
    width: 100%;
    z-index: 10;
    background: white;
}

#services {
    padding-top: 25px;
}


/* Style the navigation menu */

.topnav {
    overflow: hidden;
    position: relative;
    background-color: rgb(255, 154, 2);
}


/* Hide the links inside the navigation menu (except for logo/home) */

.topnav #myLinks {
    display: none;
}


/* Style navigation menu links */

.topnav a {
    color: rgb(68, 110, 247);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bolder;
    display: block;
}


/* Style the hamburger menu :{ z-index: 10;}*/

.topnav a.icon {
    display: block;
    position: absolute;
    right: 25px;
    top: 10px;
    background-image: url("hamburger.png");
    background-position: center;
    background-size: contain;
}


/* Add a grey background color on mouse-over */

.topnav a:hover {
    background-color: rgb(88, 88, 209);
    color: rgb(255, 154, 2);
}

.carousel-inner {
    z-index: 5;
    box-shadow: 0 0 20px rgb(255, 154, 2), 0 0 40px white, 0 0 40px rgb(255, 154, 2);
}

.intro {
    text-align: center;
}


/*
-----------------------footerNav------------------------------
*/

.footerNav {
    display: inline;
    text-align: center;
    padding-bottom: 25px;
}

.footerNav ul li {
    display: inline;
    text-decoration: none;
}

.footerNav ul li a {
    letter-spacing: 1px;
    font-size: 1em;
    padding-bottom: 5px;
    color: rgba(202, 200, 200, 0.781);
}

.footerNav ul li a:hover {
    text-decoration: underline;
    padding-top: 9px;
    color: rgb(255, 154, 2);
    /*override*/
    text-decoration: none;
}

.pad {
    padding: 0 5px;
}

.footer p {
    display: block;
    margin-top: 2em;
}


/*
    -----------------------EndofFooterNav------------------------------
    */


/*
---------------------links--------------------------------------
*/

footer a {
    text-decoration: none;
    color: white;
    font-size: 0.8em;
    font-weight: bold;
    cursor: pointer;
    text-shadow: 1.5px 1.5px rgb(0, 0, 0);
    letter-spacing: 1px;
}

footer a:hover {
    color: rgb(230, 172, 14);
    /*override*/
    text-shadow: 1px 1px rgb(0, 0, 0);
    font-weight: bold;
    /*i want a bold which doesnt affect the layout of the page*/
}

footer li.current a::after {
    color: rgb(255, 154, 2);
    /*override*/
    text-shadow: 1px 1px rgb(0, 0, 0);
    font-weight: bold;
}

.nav ul li::after {
    content: '';
    height: 1px;
    width: 0%;
    color: rgb(255, 154, 2);
    /*override*/
    position: absolute;
    left: 0;
    clear: both;
    display: block;
    bottom: -7px;
    transition: all 0.7s ease-in;
    cursor: pointer;
}

.nav ul li:hover::after {
    width: 100%;
}


/*about page*/

iframe {
    z-index: 5;
    box-shadow: 0 0 5px rgb(255, 154, 2), 0 0 10px white, 0 0 10px rgb(255, 154, 2);
    border: none;
    border-radius: 5px;
    width: 98%;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

footer {
    text-align: center;
    background: rgb(56, 55, 55);
    color: rgb(255, 154, 2);
    /*override*/
    margin-top: 7%;
    padding: 2em;
    font-size: 0.7em;
}


/*EO about page*/


/*
footer-copyright
*/

footer {
    box-shadow: 0 0 5px rgb(255, 154, 2), 0 0 10px white, 0 0 15px rgb(255, 154, 2);
}

.footer-copyright a {
    color: rgb(255, 154, 2);
    text-transform: none;
    animation: blinker 5s linear infinite;
    font-size: 12px;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.footer-copyright a:hover {
    color: orangered;
    text-decoration-line: none;
}


/*
endOfFooter
*/

.center {
    align-items: center;
    text-align: center;
}

.title {
    color: rgb(255, 154, 2);
    text-shadow: 0 0 3px blue;
}